body{
    background-color: cadetblue;
    
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.title{
    margin-right: 10px;
}
